body{
    background-image:url(clouds_sky_bridge_92817_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#main{
    height:80%;
    width:35%;
    background-color:whitesmoke ;
    margin:10% auto;
    border-radius: 30px;
    border-bottom: 3px solid grey;
    border-right: 2px solid grey;
}
.in{   
    position: relative;
    margin-left: 3%;
    margin-top: 6%;
    width: 68%;
    height: 30px;
    font-size:medium;
    font-family: 'Trebuchet MS';
     font-weight:800; 
    border-radius: 6px;
    border:none;
    border-bottom: 2px solid  grey;
}
#first{
    margin-top: 7%;
}
#third{
    margin-bottom: 10%;
}
.degree{
    color: darkblue;
    margin-left: 12%;
    font-size: larger;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color:darkblue;
    height:max-content;
    width: fit-content;
    position: relative;
    top:27px;
    margin-left: 13%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
.icon{
    width:30px;
    position: absolute;
    margin-left: 38px;
    margin-top:38px;
}
.icon-mid{
    margin-top: 33px;;
}
.icon-last{
    margin-top: 32px;;
}